.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
